{% extends "layouts/app.html" %}

{% block content %}
<link rel="stylesheet" href="/public/maclt/css/leaflet.css">

<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 d-flex flex-column mt-4" style="border-radius: 0.6rem;">
            <div class="card shadow flex-grow-1 d-flex flex-column" style="border-radius: 0.6rem;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 m-0 p-0">
                            <div class="card border-0 h-100 d-flex flex-column">
                                <div class="card-header bg-white border-0 h3">
                                    <b>Mapa</b>
                                </div>
                                <div class="card-body">
                                    <div id="map" class="map-max-content"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-flex flex-column mt-4" style="border-radius: 0.6rem;">
            <div class="card shadow flex-grow-1 d-flex flex-column" style="border-radius: 0.6rem;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 m-0 p-0">
                            <div class="card border-0 h-100 d-flex flex-column">
                                <div class="card-header bg-white border-0 h3">
                                    <b>Detalles de Viaje</b>
                                </div>
                                <div class="card-body bg-white border-0">
                                    <label class="form-label mt-3"> <b>Origen</b> <span class="text-danger">*</span></label>
                                    <div class="form-group d-flex align-items-center">
                                        <i class="fas fa-map-marker-alt text-success h2"></i>
                                        <input type="text" id="map-input-start" name="start" placeholder="Punto Inicial" class="form-control border-3" required>
                                    </div>
                                    <label class="form-label mt-3"> <b>Destino</b> <span class="text-danger">*</span></label>
                                    <div class="form-group d-flex align-items-center">
                                        <i class="fas fa-map-marker-alt text-danger h2"></i>
                                        <input type="text" id="map-input-end" name="destiny" placeholder="Punto Final" class="form-control border-3" required>
                                    </div>
                                    <label class="form-label mt-3"> <b>Motivo de Viaje</b> <span class="text-danger">*</span></label>
                                    <div class="form-group d-flex align-items-center">
                                        <i class="fas fa-question-circle text-warning h2"></i>
                                        <textarea class="form-control border-3" name="" id="" rows="2" placeholder="Motivo..." required></textarea>
                                    </div>
                                    <label class="form-label"> <b>Vehículo asignado</b> <span class="text-danger">*</span></label>
                                    <div class="form-group d-flex align-items-center">
                                        <i class="fas fa-bus-alt text-danger h2"></i>
                                        <select class="form-select form-select-lg" name="vehicle" id="vehicle-type">
                                            <option selected disabled>Select one</option>
                                            <option value="transit">Transporte público</option>
                                            <option value="driving">Taxi</option>
                                            <option value="walking">Caminando</option>
                                            <option value="bicycling">Bicicleta</option>
                                        </select>
                                    </div>
                                    <label class="form-label mt-3"> <b>Duración Estimada</b> <span class="text-danger">*</span></label>
                                    <div class="form-group d-flex align-items-center justify-content-center">
                                        <div class="h2 text-primary text-center"><i class="fas fa-clock"></i></div>
                                        <h3 id="estimated-duration" class="text-dark ml-3 mb-0">---</h3>
                                    </div>
                                    <label class="form-label mt-3"> <b>Kilómetros Totales</b> <span class="text-danger">*</span></label>
                                    <div class="form-group d-flex align-items-center justify-content-center">
                                        <div class="h2 text-primary text-center"><i class="fas fa-route"></i></div>
                                        <h3 id="estimated-distance" class="text-dark ml-3 mb-0">---</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/public/maclt/js/leaflet.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYdLIfn_my89GlCcNlwvk9v-6kKkcLdzo"></script>
{% endblock %}